@tailwind base;
@tailwind components;
@tailwind utilities;

.contact {
  display: flex;
  margin: 0;
  object-fit: cover;
  background-position: 0 -100px;
  background-color: #bfdfec;
  font-family: system-ui, calibri, serif;
  background-repeat: repeat-x;
  background-image: url("https://i.stack.imgur.com/b7z29.png");
  animation: movement 10s linear infinite;
}

@keyframes movement {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 560px 0px;
  }
}
